<div class="row">
  <div class="col">
    <div class="card my-2">
      <div class="card-header">Key Chart</div>
      <div class="card-body overflow-auto">
        <div class="row">
          <div class="col-sm-1">
            <label for="major"><strong>Major: </strong></label>
          </div>
          <div class="col-sm-5">
            <div class="hstack gap-3">
              <div class="p-1"><strong>I</strong></div>
              <div class="p-1">ii</div>
              <div class="p-1">iii</div>
              <div class="p-1"><strong>IV</strong></div>
              <div class="p-1"><strong>V</strong></div>
              <div class="p-1">vi*</div>
              <div class="p-1">vii</div>
              <div class="p-1">-</div>
              <div class="p-1">W</div>
              <div class="p-1">W</div>
              <div class="p-1">H</div>
              <div class="p-1">W</div>
              <div class="p-1">W</div>
              <div class="p-1">W</div>
              <div class="p-1">H</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <label for="major"><strong>Minor: </strong></label>
          </div>
          <div class="col-sm-5">
            <div class="hstack gap-3">
              <div class="p-1">i</div>
              <div class="p-1">ii</div>
              <div class="p-1"><strong>III</strong></div>
              <div class="p-1">iv</div>
              <div class="p-1">v</div>
              <div class="p-1"><strong>VI</strong></div>
              <div class="p-1"><strong>VII</strong></div>
              <div class="p-1">-</div>
              <div class="p-1">W</div>
              <div class="p-1">H</div>
              <div class="p-1">W</div>
              <div class="p-1">W</div>
              <div class="p-1">H</div>
              <div class="p-1">W</div>
              <div class="p-1">W</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">* - Relative Minor</div>
    </div>
  </div>
</div>
